@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MrFixIt.Models.Job

<h2>Would you like to do this job?</h2>
<hr />
<h3>@Model.Title</h3>
<h5>@Model.Description</h5>
<form action="ClaimJob" class="Claim-Job">
    <input type="hidden" name="id" value="@Model.JobId" />
    <button type="submit" onclick="location.href='@Url.Action("Index", "Workers")'">Claim Job</button>
</form>
<p>@Html.ActionLink("Back to list", "Index")</p>