@{
    ViewData["Title"] = "Worker Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h4>Hello Worker @Model.FirstName @Model.LastName. You are Logged In</h4>
        <h3>Your Current Jobs:</h3>
        @foreach (var Job in Model.Jobs)
        {
            //Only displays incomplete jobs
            @if(!Job.Completed )
            {                                
                <h3>@Job.Title</h3>      

                //Only displays if job is not active
                @if (!Job.Pending)
                {
                    <form action="MarkJobActive" class="Mark-Job-Active">
                        <input type="hidden" name="id" value="@Job.JobId" />
                        <button type="submit" id="@Job.JobId">Set As Active</button>
                    </form>

                    <p id="JobActive">Job in queue</p>

                }
                //Only displays if job is active
                else
                {
                    <form action="MarkJobComplete" class="Mark-Job-Complete">
                        <input type="hidden" name="id" value="@Job.JobId" />
                        <button type="submit" id="@Job.JobId">Mark As Complete</button>
                    </form>

                    <p id="JobProgress">Job in progress</p>
                }
            }
        }

        @if (Model.Avaliable)
        {
            <h2>Please @Html.ActionLink("select a job", "Index", "Jobs").</h2>
        }
        else
        {
            <p>You are already assigned to a job.</p>
        }
    </div>
}